[submodule "src/thirdparty/CodeMirror"]
	path = src/thirdparty/CodeMirror
	url = https://github.com/adobe/CodeMirror2.git
[submodule "src/thirdparty/path-utils"]
	path = src/thirdparty/path-utils
	url = https://github.com/jblas/path-utils.git
[submodule "src/thirdparty/mustache"]
	path = src/thirdparty/mustache
	url = https://github.com/janl/mustache.js.git
[submodule "src/extensions/default/JavaScriptCodeHints/thirdparty/tern"]
	path = src/extensions/default/JavaScriptCodeHints/thirdparty/tern
	url = https://github.com/ternjs/tern.git
[submodule "src/extensions/default/JavaScriptCodeHints/thirdparty/acorn"]
	path = src/extensions/default/JavaScriptCodeHints/thirdparty/acorn
	url = https://github.com/marijnh/acorn.git
[submodule "src/thirdparty/requirejs"]
	path = src/thirdparty/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "src/thirdparty/text"]
	path = src/thirdparty/text
	url = https://github.com/requirejs/text.git
[submodule "src/thirdparty/i18n"]
	path = src/thirdparty/i18n
	url = https://github.com/requirejs/i18n.git
[submodule "src/extensions/default/JSLint/thirdparty/jslint"]
	path = src/extensions/default/JSLint/thirdparty/jslint
	url = https://github.com/peterflynn/JSLint.git
[submodule "src/thirdparty/webdavjs"]
	path = src/thirdparty/webdavjs
	url = https://github.com/weebygames/webdavjs
[submodule "src/extensions/default/brackets-extension-jsio"]
	path = src/extensions/default/brackets-extension-jsio
	url = https://github.com/weebygames/brackets-extension-jsio
[submodule "src/extensions/default/brackets-jshint"]
	path = src/extensions/default/brackets-jshint
	url = https://github.com/weebygames/brackets-jshint
[submodule "src/extensions/default/brackets-trailingspaces"]
	path = src/extensions/default/brackets-trailingspaces
	url = https://github.com/weebygames/brackets-trailingspaces
[submodule "src/extensions/default/popup-menu-extension"]
	path = src/extensions/default/popup-menu-extension
	url = https://github.com/Denisov21/Popup-menu-extension
[submodule "src/extensions/default/brackets-working-file-tabs"]
	path = src/extensions/default/brackets-working-file-tabs
	url = https://github.com/demonmhon/brackets-working-file-tabs
[submodule "src/extensions/default/brackets-display-shortcuts"]
	path = src/extensions/default/brackets-display-shortcuts
	url = https://github.com/redmunds/brackets-display-shortcuts
